.scroll_container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* y 축 방향으로만 scroll snap 적용 */
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  scroll-padding-top: 3rem;
  position: relative;
}

.createBtn {
  position: fixed;
  bottom: 10%;
  right: 34%;
  z-index: 11;
}

.scroll_container::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

.scroll_container::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #a494ff; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.scroll_container::-webkit-scrollbar-track {
  background: #ebe8ff; /*스크롤바 뒷 배경 색상*/
}
