.scroll_container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* y 축 방향으로만 scroll snap 적용 */
  height: 100vh; /* 뷰포트 높이에 맞춤 */
  scroll-padding-top: 3rem;
  position: relative;
}

.createBtn {
  position: absolute;
  bottom: 11%;
  right: 1%;
  z-index: 11;
}

.scroll_container::-webkit-scrollbar {
  display: none;
}
