.comment_item {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}
.left_side,
.right_side {
  flex: 0 0 20%; /* flex-grow, flex-shrink, flex-basis */
  margin: 1rem;
}

.middle_side {
  flex: 0 0 50%; /* flex-grow, flex-shrink, flex-basis */
  margin: 1rem;
}

.middle_side_top {
  display: flex;
  align-items: center;
}

.nickname {
  margin-right: 0.5rem;
  margin-bottom: 0.3rem;
  color: rgb(56, 56, 56);
  font-size: 1.1rem;
}

.content {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.regTime {
  color: rgb(191, 191, 191);
  font-size: 0.8rem;
}

.reply {
  color: rgb(157, 157, 157);
  font-size: 0.9rem;
}

.reply_create {
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.reply_list {
  margin-bottom: 0.5rem;
  color: rgb(151, 24, 255);
  cursor: pointer;
}

.line {
  background-color: rgb(216, 216, 216);
  height: 1px;
  border: 0;
}

.open_modal {
  height: 1.2rem;
  cursor: pointer;
}

.right_side div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
