.container {
  position: sticky;
  bottom: 0;
}

.comment {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10%;
  width: 100%;
  background-color: #f4f3f3;
}

.comment textarea {
  resize: none;
  border: none;
  background-color: rgb(235, 234, 237);
  border-radius: 0.5rem;
  height: 3rem;
  width: 75%;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.bt_submit {
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 12%;
  height: 3rem;
  color: white;
  background-color: rgb(139, 61, 255);
  cursor: pointer;
  font-size: 1.1rem;
}

.bt_close {
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 12%;
  height: 3rem;
  color: white;
  background-color: rgb(178, 178, 178);
  cursor: pointer;
  font-size: 1.1rem;
}
