.container {
  width: 100%;
  /* width 바꿈 
  밑은 다 추가된 부분
  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment_list {
  /* height: 31rem; */
  flex: 1;
  /* 댓글 목록이 공간 다 채우게 */
  overflow-y: auto;
  margin-bottom: 4.5rem;
}

.comment_list {
  -ms-overflow-style: none;
}

.comment_list::-webkit-scrollbar {
  display: none;
}

.reply_to {
  position: absolute;
  bottom: 12%;
  width: 100%;
}
