h3 {
  text-align: center;
  margin: 20px 0;
}
.profileIcon {
  width: 8rem;
  border: 0.5rem solid white;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* 블록 레벨 요소로 설정 */
}
.mypage {
  text-align: center;
}
.buttonImg {
  width: 20rem;
  margin: 0.5rem auto;
}
.buttonImg a {
  width: 40%;
}
.buttonImg img {
  width: 100%;
}
.backgroundImg {
  width: 25rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.profileIconBox {
  margin: 0 auto;
  position: absolute;
  top: 5.5rem;
  display: flex;
  justify-content: center;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 1rem;
  position: absolute;
  margin: 20px 0;
}
.logout {
  border: 0;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #a596ff;
  float: right;
  margin: 0 1rem;
}
.withdraw {
  border: 0;
  background-color: white;
  font-size: 16px;
  color: rgb(128, 128, 128);
  float: right;
}
.userButton {
  margin: 2rem 1rem;
  float: inline-end;
}
.userEmail {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
