.mypageTitle {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 1rem;
  font-weight: bold;
}
.profileIcon {
  width: 25%;
  border: 5px solid white;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* 블록 레벨 요소로 설정 */
}
.mypage {
  text-align: center;
}
.buttonImg {
  width: 80%;
  margin: 0.5rem auto;
}
.buttonImg a {
  width: 40%;
}
.buttonImg img {
  width: 100%;
}
.backgroundImg {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 2rem;
}
.backgroundImgDiv {
  width: 100%;
  overflow: hidden;
}
.profileIconBox {
  margin: 0 auto;
  position: absolute;
  top: 7rem;
  display: flex;
  justify-content: center;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 1rem;
  position: absolute;
  margin: 0.5rem;
}
.logout {
  border: 0;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #a596ff;
  float: right;
  margin: 0 1rem;
}
.withdraw {
  border: 0;
  background-color: white;
  font-size: 16px;
  color: rgb(128, 128, 128);
  float: right;
}
.userButton {
  margin: 2rem 1rem;
  float: inline-end;
}
.userEmail {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
}
@media all and (min-width: 1280px) {
  .board_container {
    width: 30rem;
    height: 35rem;
  }
}

/* 테블릿 가로, 노트북 */
@media all and (min-width: 768px) and (max-width: 1279px) {
  .board_container {
    width: 30rem;
    height: 38rem;
  }

  .board_content {
    width: 100%;
  }
}
