.articleImg {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 10px;
  border-radius: 30px;
}
.articleImg img {
  position: absolute;
  width: 500px;
  filter: brightness(70%);
}
.articleText {
  width: 70%;
  color: white;
  text-align: center;
  top: 25%;
  /* left: 10%; */
  position: absolute;
}
.articleText p {
  font-size: 20px;
}
.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 150%;
}
span {
  margin: 30px;
}
