.empty {
  height: 100px;
}
.article {
  position: relative;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin: 2% 0;
  border-radius: 30px;
}
.articleSort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articleImg {
  position: absolute;
  width: 100%;
  filter: brightness(50%);
}
.articleText {
  width: 70%;
  color: white;
  text-align: center;
  /* left: 10%; */
  position: absolute;
}

.content {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 150%;
  margin-top: 1rem;
}

.iconImg {
  width: 1rem;
}

.articleText div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconImg {
  width: 1rem;
  height: 1rem; /* Set both width and height to 10px */
  /* margin-right: 5px; Adjust the margin as needed */
}
.reactions {
  margin-right: 0.3rem;
}
.reactionIcon {
  margin: 0.7rem;
}
.nickname {
  margin: 10px;
  font-size: 14px;
  color: #e1e1e1;
}
.profileIcon {
  width: 8rem;
  border: 0.5rem solid white;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* 블록 레벨 요소로 설정 */
}
.mypage {
  text-align: center;
}
.buttonImg {
  width: 20rem;
  margin: 0.5rem auto;
}
.buttonImg a {
  width: 40%;
}
.buttonImg img {
  width: 100%;
}
.backgroundImg {
  width: 25rem;
  border-radius: 20px;
}
.profileIconBox {
  margin: 0 auto;
  position: absolute;
  top: 5.5rem;
  display: flex;
  justify-content: center;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 1rem;
  position: absolute;
  margin: 20px 0.5rem;
}
.settingBox {
  margin-left: auto;
}
.settingImg {
  width: 1.5rem;
}
.message {
  width: 100%;
  display: flex;
  justify-content: center;
}
.messageText {
  font-size: 20px;
  margin: 3rem 0;
  width: 100%;
  text-align: center;
}
@media all and (min-width: 1280px) {
  .board_container {
    width: 30rem;
    height: 35rem;
  }
}
.count {
  margin-top: 1rem;
  margin-left: 0.5rem;
}
