.BoardCreate {
  width: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header_right {
  display: flex;
}

.header_right * {
  margin-left: 1rem;
}

.bt_back {
  border: none;
  background: none;
  cursor: pointer;
}

.bt_save {
  border: none;
  background: none;
  cursor: pointer;
}

.bt_upload {
  color: white;
  background: linear-gradient(to left, rgb(202, 68, 255), rgb(255, 115, 143));
  border-radius: 20px;
  border: none;
  padding: 5px 20px;
  cursor: pointer;
}

.BoardCreate textarea {
  text-align: center;
  background: none;
  border: none;
  resize: none;
  margin: 3rem;
  font-size: 20px;
  width: 30rem;
  height: 30rem;
}

.BoardCreate textarea:focus {
  outline: 0;
}

.textarea_container {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.BoardCreate textarea::placeholder {
  color: rgb(0, 0, 0);
}

.fileUpload {
  margin-top: 1rem;
}

/* .fileUpload input {
  margin-bottom: 10rem;
} */

.file_upload_label img {
  margin-bottom: 5rem;
}

.image_list {
  display: flex;
  overflow: hidden;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.image_container {
  position: relative;
  width: 150px;
  height: 150px;
  margin-right: 1rem;
}

.image_container button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: black;
  border: none;
  border-radius: 100%;
  color: white;
  cursor: pointer;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.background_area {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
