.board_container {
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  /* content 중앙 정렬 시켜야하는데 main 기준으로 중앙 정렬 돼서 여기서 main을 중앙정렬 시켜주자 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #9895a8;
  position: relative;
}

.board_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 9 / 16;
}

.board_content {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 21px;
  color: white;
  padding: 0 3rem;
  position: relative;
}

.board_imgTrue {
  background-color: rgba(62, 62, 62, 0.5);
  background-position: center center;
  /* object-fit: contain; */
  /* object-position: 50% 50%; */
}

.bottom {
  /* z-index: 1; */
  position: absolute;
  /* right: 0; */
  bottom: 3%;
  width: 100%;
}

.board_zoomBtn {
  position: absolute;
  top: 0;
  /* padding: 0.5rem; */
}
.zoomBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}
.savedBtn,
.likedBtn,
.zoomBtn,
.etcBtn,
.commentBtn,
.chatBtn {
  border: 0;
  background-color: transparent;
  margin: 0;
}

.savedBtn,
.likedBtn,
.zoomBtn,
.etcBtn,
.commentBtn {
  z-index: 9;
}
.savedBtn {
  margin-bottom: 1.7rem;
}
.savedBtn,
.likedBtn {
  float: right;
}

.side_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 0.5rem;
  margin-bottom: -2.5rem;
}

.item_profile {
  display: flex;
  padding-left: 1rem;
}

.profile_content {
  margin-left: 1rem;
  justify-content: center;
  /* padding: 2rem; */
  padding-top: 10px;
  color: white;
}

.createdAt {
  color: #b3b3b3;
  font-size: 14px;
}

.count {
  text-align: center;
  color: white;
}

.cmtModal {
  position: relative;
}

.chatBtn {
  font-size: medium;
  color: white;
}
@media all and (min-width: 1280px) {
  .board_container {
    width: 30rem;
    height: 35rem;
  }
}

/* 테블릿 가로, 노트북 */
@media all and (min-width: 768px) and (max-width: 1279px) {
  .board_container {
    width: 30rem;
    height: 38rem;
  }

  .board_content {
    width: 100%;
  }
}
