.etcContainer,
.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6.5rem;
}

.notMe {
  position: relative;
  height: 4rem;
  border-radius: 21px;
}

.etcContainer,
.me,
.notMe {
  position: relative;
  background-color: rgba(199, 199, 199);
  transform: translateY(20px);
  border-radius: 21px;
  margin-right: -0.5rem;
}

.boardCommon {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.Declaration {
  color: #ff2525;
  cursor: pointer;
}

.modalBtn {
  outline: 0;
  background-color: transparent;
  border: 0;
}

.closeBtn2 {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

.closedBtn {
  position: absolute;
  left: 1px;
  transform: translateX(-10%) translateY(-55%);
}

.boardPut {
  color: #4d25ff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.etcContainer hr {
  border-color: #000000 3px;
  width: 80%;
}

.boardDelete {
  color: #ff2525;
  margin-top: 8px;
  margin-bottom: 8px;
}
