.etcContainer,
.me {
  background-color: rgba(199, 199, 199);
  display: flex;
  flex-direction: column;
  width: 29rem;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 6.5rem;
  border-radius: 21px;
  transform: translateY(20px);
}

.notMe {
  background-color: rgba(199, 199, 199);
  /* display: flex;
  flex-direction: column; */
  width: 29rem;
  /* align-items: center; */
  /* justify-content: center; */
  position: relative;
  height: 4rem;
  border-radius: 21px;
  transform: translateY(20px);
}

.boardCommon {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

.Declaration {
  color: #ff2525;
}

.modalBtn {
  outline: 0;
  background-color: transparent;
  border: 0;
}

.closeBtn2 {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
}

.closedBtn {
  position: absolute;
  left: 0;
  transform: translateX(-30%) translateY(-50%);
}

.boardPut {
  color: #4d25ff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.etcContainer hr {
  border-color: #000000 3px;
  width: 80%;
}

.boardDelete {
  color: #ff2525;
  margin-top: 8px;
  margin-bottom: 8px;
}
